---
Checks: '
*,
-altera-*,
-bugprone-easily-swappable-parameters,
-bugprone-narrowing-conversions,
-clang-analyzer-core.NullDereference,
-clang-analyzer-security.insecureAPI.strcpy,
-cppcoreguidelines-*,
-fuchsia-*,
-google-*,
-hicpp-*,
-llvm-else-after-return,
-llvm-header-guard,
-llvm-include-order,
-llvmlibc-*,
-misc-unused-parameters,
-modernize-macro-to-enum,
-modernize-use-trailing-return-type,
-modernize-use-using,
-performance-no-int-to-ptr,
-readability-else-after-return,
-readability-identifier-length,
-readability-isolate-declaration,
-readability-magic-numbers,
-readability-suspicious-call-argument,
'
FormatStyle: 'file'
CheckOptions:
    cppcoreguidelines-macro-usage.CheckCapsOnly: true
    readability-function-cognitive-complexity.IgnoreMacros: true

...
