# EditorConfig http://EditorConfig.org

# top-most EditorConfig file
root = true

# This applies to all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[*.{c,cpp,h,hpp}]
indent_size = 2

[*.{yml,yaml,m4,w32}]
indent_size = 2

[*.phpt]
trim_trailing_whitespace = false

[Makefile.frag]
indent_style = tab
