*.d
*.dep
*.gcda
*.gcno
*.la
*.lo
*.loT
*.o
*.profraw
.libs
.phpunit.result.cache
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
captainhook.config.json
composer.lock
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
include
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
php_test_results_*.txt
phpcs.xml
phpt.*
phpunit.xml
run-test-info.php
run-tests.php
tests/phpt/**/*.db
tests/phpt/**/*.diff
tests/phpt/**/*.exp
tests/phpt/**/*.log
tests/phpt/**/*.mem
tests/phpt/**/*.out
tests/phpt/**/*.php
tests/phpt/**/*.sh
tmp-php.ini
vendor
